.plan-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    gap: 8px;
    padding: 8px 8px;
    border-radius: 8px;


}

.plan-item-label {
    font-weight: 400;
    transition: transform .2s ease;
}

.plan-item:hover {
    transform: scale(1.01);
}

.editPlan {
    margin-top: 20px;
}

.planDetail-area {
    margin: 20px 0;
}