<li class="item has-submenu">
    <a tabindex="0">Plans</a>
    <ul class="submenu">
        <li class="subitem"><a href="#">Design</a></li>
        <li class="subitem"><a href="#">Development</a></li>
        <li class="subitem"><a href="#">SEO</a></li>
        <li class="subitem"><a href="#">Copywriting</a></li>
    </ul>
</li>
<li class="item has-submenu">
    <a tabindex="0">Production</a>
    <ul class="submenu">
        <li class="subitem"><a href="#">Freelancer</a></li>
        <li class="subitem"><a href="#">Startup</a></li>
        <li class="subitem"><a href="#">Enterprise</a></li>
    </ul>
</li>
<li class="item has-submenu">
    <a tabindex="0">Efficiency</a>
    <ul class="submenu">
        <li class="subitem"><a href="#">Freelancer</a></li>
        <li class="subitem"><a href="#">Startup</a></li>
        <li class="subitem"><a href="#">Enterprise</a></li>
    </ul>
</li>
<li class="item has-submenu">
    <a tabindex="0">Report</a>
    <ul class="submenu">
        <li class="subitem"><a href="#">Freelancer</a></li>
        <li class="subitem"><a href="#">Startup</a></li>
        <li class="subitem"><a href="#">Enterprise</a></li>
    </ul>
</li>