.buyer-add-edit #myForm {
    display: none;
}

.add-buyer {
    margin: 15px 10px;
    float: left;
    width: 40%;
    overflow: hidden;
}

.card-area {
    padding: 15px 0px;
    float: right;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

/* Media D*/


@media all and (max-width: 1159px) {
    .form_container-grid {
        display: block;
        gap: 0;
        text-align: center;
        margin-top: 0px;
    }

    label {
        margin-top: 10px;
    }


}

@media all and (max-width: 992px) {
    .card-area {
        display: block;
    }

    .card {
        width: 80%;
    }

    .card-area .card:last-child {
        margin-top: 10px;
    }
}