.buyer-add-edit {
    margin-top: 20px;
}

.buyer-add-edit #myForm {
    display: none;
}

.buyer-add-edit .hero_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buyer-add-edit .form_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    margin-top: 10px;
}

.buyer-add-edit .button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buyer-add-edit .button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buyer-add-edit .button {
    font-size: 14px;
    font-weight: 200;
    padding: 8px 10px;
}

.buyer-add-edit .button {
    font-size: 14px;
    font-weight: 200;
    padding: 8px 10px;
}

.buyer-add-edit .by-edit {
    padding: 6px 8px;
    margin: 1px 0;

}

/*
label {
    font-size: 15px;
    margin-bottom: 5px;
}