{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %}Line Plan Summary{% endblock title %} 
{% load crispy_forms_tags %}
{% block css %}<link rel="stylesheet" href="{% static 'css/plan/add_plan.css' %}" />{% endblock css %}  
{% block content %}
<div class="add-Plan block-content">
    <div class="messages">
        {% if messages %}
        {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
      </div>
    <h3 class="page-heading">Add Plan | {{mydate}}</h3>
    <div class="card">
        <div class="card-container">
          <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for forms in formset %}
                {% csrf_token %}
                {% for hidden in forms.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ formset.non_field_errors }}
                <tr>
                    <td>{{ forms.operator }}</td>
                    <td>{{ forms.helper }}</td>
                    <td>{{ forms.runDay }}</td>
                    <td>{{ forms.workHour }}</td>
                    <td>{{ forms.dayTarget }}</td>
                </tr>
            {% endfor %}
          <div class="button_container">
            <button type="Cancel" class="button btn-red btn-r12" ><a style="color:white" href="{% url 'Plan-Layout-nav' mydate %}">Cancel</a></button>
            <button type="submit" class="button btn-green btn-r12" >Apply Now</button>
          </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}