{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %}Line Plan Summary{% endblock title %} 
{% load crispy_forms_tags %}
{% block css %}<link rel="stylesheet" href="{% static 'css/plan/linePlanShow.css' %}" />{% endblock css %}  
{% block content %}
<div class="line-Plan-Show block-content">
    <div class="messages">
        {% if messages %}
        {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
      </div>
    <div class="planSummary-area"> 
        <h3>Line Plan Forcast</h3>
        <table class="table">
            <tr>
               <th class="line-num">Line</th>
               <th>Buyer</th>
               <th class="B-style">Style</th>
               <th>Sewing Start Date</th>
               <th>Sewing End Date</th>
               <th>Delevery Date</th>
               <th>Action</th>
            </tr>
            {% for planSummarys in planSummary%}
            <tr>
                <td>{{planSummarys.line}}</td>
                <td>{{planSummarys.buyer}}</td>
                <td>{{planSummarys.style}}</td>
                <td>{{planSummarys.sewingStartDate}}</td>
                <td>{{planSummarys.sewingEndDate}}</td>
                <td>{{planSummarys.deleveryDate}}</td>
                <td><a href="{% url 'plan-Entry-show' planSummarys.id %}" class="button btn-green btn-r12">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}