{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %}planEntry{% endblock title %} 
{% load crispy_forms_tags %}
{% block css %}<link rel="stylesheet" href="{% static 'css/plan/planEntry.css' %}" />{% endblock css %}  
{% block content %}
<div class="plan-Entry block-content">
  <div class="messages">
    {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="card">
    <div class="card-container">
      <h4 class="card-title"><b>Line {{lineName}}</b></h4>
      <form method="POST" id="personForm" data-styles-url="{% url 'ajax_load_style' %}">
        {% csrf_token %}
      <div class="form_container-grid">
        <div class="form_control">
          {{ form.buyer|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.style|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.deleveryDate|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.sewingStartDate|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.sewingEndDate|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.orderQty|as_crispy_field}}
        </div>
        <div class="form_control">
          {{ form.planQtyExtra|as_crispy_field}}
        </div>
      </div>
      <div class="button_container">
        <button type="Cancel" class="button btn-red btn-r12" ><a style="color:white" href="{% url 'home' %}">Cancel</a></button>
        <button type="submit" class="button btn-green btn-r12" >Apply Now</button>
      </div>
    </form>  
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_buyer").change(function () {
        const url = $("#personForm").attr("data-styles-url");  // get the url of the `load_cities` view
        const buyerId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'buyer': buyerId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_style").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
{% endblock content %}