/* Navigation */
nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    width: 50px;
}

.menu-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.web-menu ul,
.menu-area ul {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
}

.user-name {
    font-weight: bold;
    font-size: 14px;
}

/*--------------------------------------------------------*/
@media (min-width: 786px) {
    .bar_icon {
        display: none;
    }
}

@media (max-width: 786px) {
    .bar_icon {
        display: none;
    }

    .web-menu ul,
    .menu-area ul {
        flex-direction: column;
    }
}