* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 14px;
}

body {
    background-color: antiquewhite;
}

.container,
.footer_container,
nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.container {
    min-height: 70vh;
}


.logo>img,
.footer_logo>img {
    width: 50px;
}

a {
    text-decoration: none;
    letter-spacing: 1.1;
}

.block-content {
    margin-top: 20px;

}


/*------------ALL Icon----------------*/
.fa {
    padding: 0 5px;
}

/*------------Message----------------*/
.success {
    background-color: blue;
    text-align: center;
    padding: 10px 0;
    color: white;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    opacity: 0.8;
    transition: 0.3s;
}

.warning {
    background-color: red;
    text-align: center;
    padding: 10px 0;
    color: white;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    opacity: 0.8;
    transition: 0.3s;

}

/*----Table--------------------------*/
.table {
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

.table,
.table th,
.table td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
}

tr:hover {
    background-color: #ccc;
}

.table tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.table th:nth-child(even),
.table td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

/***  Create a Card ***/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
}

.card-title {
    font-size: 20px;
    text-align: center;
}

.card-description {
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
}

/* ------------Form-------------- */
.form_box {
    padding: 20px;
    margin: 0 auto;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-title {
    font-size: 20px;
    text-align: center;
}

.form_container-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

label>span {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

label {
    letter-spacing: 1px;
}

input,
select,
textarea {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline-color: gray;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

/*--------CSS Buttons----*/
.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    opacity: 0.9;
    padding: 8px 10px;
    transition-duration: 0.4s ease-in-out;
}

.button:hover {
    opacity: 1;
    transition-duration: 0.4s ease-in-out;
}

.btn-last {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-left: 15px;
}

.btn-next {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding-right: 15px;
}

/* Green */
.btn-green {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.btn-blue {
    background-color: #008CBA;
    color: white;
}

/* ReD */
.btn-red {
    background-color: #f44336;
    color: white;
}

/* Black */
.btn-black {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.btn-gray {
    background-color: #555555;
    color: white;
}

.btn-r12 {
    border-radius: 8px;
}

/*grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/*--------------------------------*/
.page-heading {
    text-align: center;
}

.page-bar {
    margin-top: 10px;
}

/*-------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}