.grid-container {
    align-content: center;
    margin-top: 20px;
}

.card-description {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.card-btn {
    display: flex;
    flex-direction: row;
}

.card-btn p {
    margin-right: 1px;
}

.dashboard-index .button {

    margin: 0;
}







/*-----------Media Queries-------------*/

@media all and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
    }
}

@media all and (max-width: 769px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
    }
}