{% load static %}
<!-- base.html -->
<html>

  <head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/Favicon.png' %}">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7a4b62b0a4.js" crossorigin="anonymous"></script>
    {% block  Bootstrap_v5 %}{% endblock Bootstrap_v5 %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <!--Navigation -->
    {% include 'navigation.html'%}
    <!-- <h1>Built-In User Registeration / Authentication App</h1> -->
    {% block css %} {% endblock css %}
    {% block content %} {% endblock content %}
  


    {% block javascript %} {% endblock javascript%}
  </body>

</html>