{% load static %} 
<link rel="stylesheet" href="{% static 'css/navigation.css' %}">
<div class="navbar">
    <nav class="container">
        <ul class="menu">
            {% if user.is_authenticated %}
            <li class="item"><a href="{% url 'web' %}">Home</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item has-submenu">
                <a tabindex="0">Services</a>
                <ul class="submenu">
                    <li class="subitem"><a href="#">Design</a></li>
                    <li class="subitem"><a href="#">Development</a></li>
                    <li class="subitem"><a href="#">SEO</a></li>
                    <li class="subitem"><a href="#">Copywriting</a></li>
                </ul>
            </li>
            <li class="item has-submenu">
                <a tabindex="0">Plans</a>
                <ul class="submenu">
                    <li class="subitem"><a href="#">Freelancer</a></li>
                    <li class="subitem"><a href="#">Startup</a></li>
                    <li class="subitem"><a href="#">Enterprise</a></li>
                </ul>
            </li>
            <li class="item"><a href="#">Blog</a></li>
            <li class="item"><a href="#">Contact</a></li>
            <li class="item button"><a href="{% url 'logout' %}">Log Out</a></li>
            <li class="item button secondary"><a href="#">Sign Up</a></li>
            <li class="toggle"><a href="#"><i class="material-symbols-outlined">menu</i></a></li>
            <li class="logo"><a href="#">Creative Mind Agency</a></li>
            {% else %}
            <li class="item button"><a href="{% url 'login' %}">Log In</a></li>
            <li class="item button secondary"><a href="#">Sign Up</a></li>
            <li class="toggle"><a href="#"><i class="material-symbols-outlined">menu</i></a></li>
            <li class="logo"><a href="#">Creative Mind Agency</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
    <script src="{% static 'js/navigation.js' %}"></script>

