{% extends 'base.html' %}
{% load static %} 
{% block title %}Login Page {% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}" />{% endblock css %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="login_box">
    <h1>
      Production Efficiency Report
      <span class="title_small"></br>(PPER)</span>
    </h1>
    <form method="post">
      {% csrf_token %}
      <div class="form_container">
        <div class="form_control">
          {{ form.username|as_crispy_field}}
        </div>
        <div class="form_control pass-area">
          {{ form.password|as_crispy_field}}
          <div class="for-pass">
            <a href="#">Forget Password</a>
          </div>
        </div>
        <div class="submit">
          <button class="button btn-green btn-r12">
            Login Now<i class="fa fa-sign-in" aria-hidden="true"></i>
          </button>
        </div>
    </form>
  </div>
</div>
{% endblock %}

