{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %}Line Layout{% endblock title %} 
{% load crispy_forms_tags %}
{% block css %}<link rel="stylesheet" href="{% static 'css/production/line_layout.css' %}" />{% endblock css %}  
{% block content %}
<div class="line-Plan-Show block-content">
    <h3 class="page-heading">Line Layout | {{mydate}}</h3>
    {% include 'partials/extra_navbar.html'%}
    <div class="production-area"> 
        <table class="table">
            <tr>
                <th>Line</th>
                <th style="width:20%">Style</th>
                <th>Hour Target</th>
                <th>Day Achiev.</th>
                <th>9 AM</th>
                <th>10 AM</th>
                <th>11 AM</th>
                <th>12 PM</th>
                <th>01 PM</th>
                <th>03 PM</th>
                <th>04 PM</th>
                <th>05 PM</th>
                <th>06 PM</th>
                <th>07 PM</th>
                <th>08 PM</th>
                <th>09 PM</th>
                <th>10 PM</th>
                <th>Action</th>
            </tr>
            {% for productions in production %}
            <tr>
                <td> {% if productions.dayTarget > 0 and productions.runDay > 0 and productions.manpower > 0 %}
                        <a href="{% url 'hourly-report-Entry-plan' productions.id %}" class="button btn-green btn-r12">
                        {{productions.plan.line}}</a>                
                    {% else %}
                        <a href="#" class="button btn-red btn-r12">
                        {{productions.plan.line}}</a>
                {% endif %}
                </td>
                <td>{{productions.plan.style}}</td>
                <td>{{productions.hourTarget}}</td>
                <td>{{productions.dayAchievement}}</td>
                <td>{{productions.H_8_9}}</td>
                <td>{{productions.H_9_10}}</td>
                <td>{{productions.H_10_11}}</td>
                <td>{{productions.H_11_12}}</td>
                <td>{{productions.H_12_13}}</td>
                <td>{{productions.H_14_15}}</td>
                <td>{{productions.H_15_16}}</td>
                <td>{{productions.H_16_17}}</td>
                <td>{{productions.H_17_18}}</td>
                <td>{{productions.H_18_19}}</td>
                <td>{{productions.H_19_20}}</td>
                <td>{{productions.H_20_21}}</td>
                <td>{{productions.H_21_22}}</td>
                <td><a href="{% url 'plan-Entry-show' productions.plan %}" class="button btn-green btn-r12">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}