{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %}Buyer Page{% endblock title %}
{% load crispy_forms_tags %}
{% block css %}<link rel="stylesheet" href="{% static 'css/setup/buyerListAdd.css' %}" />{% endblock css %}  
{% block content %}

<div class="buyer-add-edit block-content">
  <div class="messages">
    {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="hero_box">
    <div class="add-buyer form_box">
      <h3 class="form-title"><a href="#" class="open-button" onclick="openForm()">Add Buyer</a></h3>
      <div id="myForm">
          <form method="POST">
            {% csrf_token %}
          <div class="form_container-grid">
            <div class="form_control">
              <label for="id_name"> Buyer Name </label>
              {{ form.name|as_crispy_field}}
            </div>
            <div class="form_control">
              <label for="id_shortcut"> Short Name </label>
              {{ form.shortcut|as_crispy_field}}
            </div>
            <div class="form_control">
              <label for="id_address"> Address </label>
              {{ form.address|as_crispy_field}}
            </div>
          </div>
          <div class="button_container">
            <button type="submit" class="button btn-green btn-r12" >Apply Now</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card-area">
      <div class="card">
        <div class="card-container">
          <h4 class="card-title"><b>New Buyer</b></h4> 
          <p class="card-description">{{newBuyer}}</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-container">
          <h4 class="card-title"><b>Total Buyer</b></h4> 
          <p class="card-description">{{totalBuyer}}</p> 
        </div>
      </div>
    </div>
  </div>
  <div class="list-area">
    <table class="table"style="width:100%">
        <tr>
            <th style="width:5%">SL</th>
            <th style="width:45%">Buyer</th>
            <th style="width:15%">Shortcut</th>
            <th style="width:20%">Address</th>
            <th style="width:15%">Action</th>
          </tr>
          {% for Buyer in Buyers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{Buyer.name}}</td>
            <td>{{Buyer.shortcut}}</td>
            <td>{{Buyer.address}}</td>
            <td><a href="{% url 'buyer-edit' Buyer.pk%}" class="button btn-green btn-r12 by-edit">Edit</a></td>
          </tr>
          {% endfor%}
        </table>
  </div>
</div>
<script src="{% static 'js/buyerListAdd.js' %}"></script>
{% endblock content %}
