{% extends 'base.html' %} 
{% load static %} 
{% block title %}Buyer Page{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/setup/buyerListAdd.css' %}" />{% endblock css %}  
{% block content %}
<div>
    <div class="add-area">
        Buyer ADD
    </div>
    <div class="list-area">
        <table style="width:100%">
          <tr>
            <th style="width:5%">SL</th>
            <th style="width:45%">Buyer</th>
            <th style="width:15%">Shortcut</th>
            <th style="width:20%">Address</th>
            <th style="width:15%">Action</th>
          </tr>
          {% for Buyer in Buyers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{Buyer.name}}</td>
            <td>{{Buyer.shortcut}}</td>
            <td>{{Buyer.address}}</td>
            <td></td>
          </tr>
          {% endfor%}
        </table>
    </div>
</div>
{% endblock content %}
