{% extends 'base.html' %}
{% load static %} 
{% block title %}Login Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/addList.css' %}" />
<div class="container">
    <div class="add-area">
      {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="add_box">
          <div class="buyerAdd">
            <button class="open-button" onclick="openForm()">Add Buyer</button>
            <div class="form-popup" id="myForm">
                <form  action={% url 'buyer-list'%} method="POST" class="form-container">
                  <h1>Buyer Add Form</h1>
                  {% csrf_token %}
                  {{form}}
                  <button type="submit" class="btn">Login</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
          </div>
        </div>    
    </div>
    <div class="list-area">
        <table style="width:100%">
          <tr>
            <th style="width:5%">SL</th>
            <th style="width:45%">Buyer</th>
            <th style="width:15%">Shortcut</th>
            <th style="width:20%">Address</th>
            <th style="width:15%">Action</th>
          </tr>
          {% for Buyer in Buyers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{Buyer.name}}</td>
            <td>{{Buyer.shortcut}}</td>
            <td>{{Buyer.address}}</td>
            <td></td>
          </tr>
          {% endfor%}
        </table>
    </div>
</div>
<script src="{% static 'js/addForm.js' %}"></script>
{% endblock%}