{% extends 'base.html' %} 
{% load static %} 
{% block title %}Buyer Page{% endblock title %}
{% load crispy_forms_tags %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/setup/buyerListAdd.css' %}" />
  <link rel="stylesheet" href="{% static 'css/setup/buyerListEdit.css' %}" />
{% endblock css %}  
{% block content %}
<div class="buyer-add-edit">
  <div class="messages">
    {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="hero_box">
    <div class="add-buyer">
      <h3><a href="#" class="open-button" onclick="openForm()">Update Style</a></h3>
      <div id="myForm">
          <form method="POST" class="form-container">
            {% csrf_token %}
          <div class="form_container">
            <div class="form_control">
              <label for="id_name"> Style Name </label>
              {{ form.name|as_crispy_field}}
            </div>
            <div class="form_control">
              <label for="id_buyer">Buyer Name</label>
              {{ form.buyer}}
            </div>
            <div class="form_control">
              <label for="id_smv"> SMV </label>
              {{ form.smv}}
            </div>
          </div>
          <div class="button_container">
            <button type="submit" class="button btn-green btn-r12" >Update Now</button>
          </div>
        </form>
      </div>
    </div>
    <div class="total-buyer">
      <h3>New Style</h3>
    </div>
    <div class="total-buyer">
      <h3>Total Style</h3>
    </div>
  </div>
  <div class="list-area">
    <table class="table"style="width:100%">
        <tr>
            <th style="width:5%">SL</th>
            <th style="width:45%">Style</th>
            <th style="width:15%">Buyer</th>
            <th style="width:20%">SMV</th>
            <th style="width:15%">Action</th>
          </tr>
          {% for Styles in Style %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{Styles.name}}</td>
            <td>{{Styles.buyer}}</td>
            <td>{{Styles.smv}}</td>
            <td><a href="{% url 'style-edit' Styles.pk %}" class="button btn-green btn-r12 by-edit">Edit</a></td>
          </tr>
          {% endfor%}
        </table>
  </div>
</div>
<script src="{% static 'js/buyerListAdd.js' %}"></script>
{% endblock content %}
